button.random-number img {
	width: 100px;
	height: 100px;
	float: left;
}

.question {
	width: 200px;
	height: 100px;
	/*background-color: red;*/
	margin-bottom: 10px;
}

.tracker {
	width: 200px;
	height: 120px;
	border: 1px red;
	float: left;
}

body {
	background-image: url(../images/cool-background.jpg);
}





p, h1 {
	color: black;
}

.container {
	width: 100%;
  	max-width: 960px;
  	margin: 0 auto;
  	clear: both;
}

.random-number {

	color: rgba(30, 22, 54, 0.6);
	box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;

}

.head {
	font-family: 'Libre Barcode 39 Text', cursive;

}
p {
	font-family: 'Gloria Hallelujah', cursive;

}
